/* Disable mouse selection on swip left or right*/
/* Swipe works with mouse as well but often causes text selection. */
/* We'll deny text selecton on everything but INPUTs and TEXTAREAs. */
#demo-page :not(INPUT):not(TEXTAREA) {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
/* Content styling. */
dl { font-family: "Times New Roman", Times, serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em; margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }
.back-btn { float: right; margin: 0 2em 1em 0; }



/* Fix the panel and close it only on pushing close button */
@media ( min-width: 35em ) {
    /* wrap on wide viewports once open */
    .ui-panel-page-content-open.ui-panel-page-content-position-left {
        margin-right: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-position-right {
        margin-left: 17em;
    }
    .ui-panel-page-content-open {
        width: auto;
    }
    /* disable "dismiss" on wide viewports */
    .ui-panel-dismiss {
        display: none;
    }
    /* same as the above but for panels with display mode "push" only */
    .ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
        margin-right: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
        margin-left: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-display-push {
        width: auto;
    }
    .ui-panel-dismiss-display-push {
        display: none;
    }
}


/* Some font adjustment
-----------------------------------------------------------------------------------------------------------*/

@font-face
{
    font-family: "Traditional Arabic";
    src: url(./trado.ttf);
}

.main-app-text {
    font-family: Traditional Arabic;
    font-size: 23pt;
}

.footnote-app-text {
    font-family: Traditional Arabic;
    font-size: 14pt;
}


/* Overwrite jqm
-----------------------------------------------------------------------------------------------------------*/

textarea, body, input, td {
    direction: rtl !important;
    text-align: right !important;
}

/* CENTERED */
.ui-button, button, .ui-btn:link {
    direction: rtl !important;
/*    text-align: center !important;*/

}

.scollable-table {
    max-height:300px;
    display: block;
	overflow: auto;
	width: 100%

}

